#modal-wrapper{
    position:fixed;
    display:table;
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform:scale(0);
    z-index:1;
}
.modal {
    background:white;
    padding:50px;
    display:inline-block;
    border-radius:3px;
    font-weight:300;
    position:relative;
}
.btn-back{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edea21;
    float: right;
}